/**
 * AUTHOR: Akash Krishnan <ak@aakay.net>
 */

[course-list] {
  margin: 10px 5px auto;
  width: 500px;
}

[course-list] [header] {
  height: 46px;
  color: white;
  background-color: #4285F4;
}

[course-list] [subheader] {
  height: 36px;
  background-color: rgba(50, 50, 50, .2);

}

[course-list] [header] [title] {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  text-transform: uppercase;
}

[course-list] [subheader] [title] {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  text-transform: uppercase;
}

[course-list] [header] [toolbar-button] {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none !important;
  cursor: pointer;
}

[course-list] [course-item] {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none !important;
}

[course-list] [course-item]:last-child {
  border-bottom: none;
}

[course-list] [course-item]:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

[course-list] [course-item]:hover:not(:last-child) {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

[course-item] [name] {
  font-size: 18px;
  margin-bottom: 5px;
}

[course-item] span {
  white-space: nowrap;
}

[course-item] [buttons] {
  height: 100%;
  margin-left: 16px;
}

[course-item] [buttons] [button] {
  margin-right: 16px;
}

[course-item] [buttons] [button]:last-child {
  margin-right: 0;
}

#course-add-dialog [form] {
  width: 300px;
}

[dialog] [course-list] {
  margin: 0;
  max-height: 350px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
